
*.editorconfig
*.cache
src/Biblioteca/.vs/Biblioteca/v16/.suo
src/Biblioteca/obj/Debug/net5.0/Biblioteca.assets.cache
src/Biblioteca/obj/Debug/net5.0/Biblioteca.GeneratedMSBuildEditorConfig.editorconfig
src/Biblioteca/.vs/Biblioteca/v16/.suo
