
@model LivroModel


@{
    ViewData["Title"] = "Resevar";
}

<h1>Resevar</h1>

<p>
    Tem certeza que deseja reservar o livro @Model.Titulo ?
</p>



<a class="btn btn-dark" asp-controller="Livro" asp-action="Index">voltar</a>

<a class="btn btn-success" asp-route-Id="@Model.Id" asp-controller="Reserva" asp-action="ConfirmarReserva2">Reservar</a>
